@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

/* 공통 css */
body {
  font-family: "Poppins", "Pretendard", -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
  color: #282828;
  background: #f1f1f1;
  position: relative;
  word-break: keep-all;
}
a {
  color: #282828;
}

.inner {
  width: 94%;
  max-width: 1700px;
  margin: 0 auto;
}
.flx {
  display: flex;
  flex-flow: row wrap;
}

.color_y {
  color: #f0a500;
}

/* 헤더*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 0.3s;
  background: #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}

header.scroll-down {
  top: -81px;
}
header.scroll-up {
  border-bottom: 1px solid #282828;
}

header .inner {
  height: 80px;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  font-size: 22px;
  font-weight: 600;
  transition: all 0.3s;
}
header .logo:hover {
  color: #f0a500;
}

header .mo_nav {
  display: none;
  position: relative;
  z-index: 51;
  width: 26px;
  height: 20px;
  cursor: pointer;
}
header .mo_nav span {
  display: block;
  position: absolute;
  width: 26px;
  height: 2px;
  background: #282828;
  transition: all 0.3s;
}
header .mo_nav_on span {
  left: 0;
  background: #f1f1f1;
}
header .mo_nav span:nth-of-type(1) {
  top: 0;
}
header .mo_nav span:nth-of-type(2) {
  top: 9px;
}
header .mo_nav span:nth-of-type(3) {
  bottom: 0;
}
header .mo_nav_on span:nth-of-type(1) {
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
}
header .mo_nav_on span:nth-of-type(2) {
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}
header .mo_nav_on span:nth-of-type(3) {
  display: none;
}

header .mo_menu {
  width: 100%;
  height: 100%;
  position: fixed;
  right: -100%;
  top: 0;
  z-index: 50;
  background: #282828;
  transition: all 0.3s;
  color: #f1f1f1;
}
header .mo_menu_on {
  right: 0;
}
header .mo_menu ul {
  padding: 10% 0 0 4%;
  flex-flow: column wrap;
}
header .mo_menu ul li {
  margin-bottom: 4%;
}
header .mo_menu a {
  font-size: min(32px, 7.5vw);
  font-weight: 500;
  color: #f1f1f1;
}

nav li:not(:last-child) {
  margin-right: 60px;
}
nav li a {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  transition: all 0.3s;
}
nav li a::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  border-radius: 50%;
  transition: all 0.3s;
  background: #f0a500;
}
nav li a:hover {
  color: #f0a500;
}
nav li a:hover::before {
  width: 5px;
  height: 5px;
}

/* 메인 공통 */
section {
  padding: 80px 0;
}
.sub-tit {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
}

/* 메인 section01 */
.m01 .inner {
  padding: 80px 0 40px;
}
.m01 p {
  font-size: 14px;
  text-align: right;
  border-top: 1px solid #282828;
  padding-top: 10px;
  margin-bottom: 40px;
}

.m01 .tit {
  position: relative;
  display: inline-block;
  padding-right: 5%;
  overflow: hidden;
}
.m01 .tit-cover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 105%;
  height: 100%;
  transform: translateX(0);
  background: #282828;
}

.m01 h2 {
  font-size: min(280px, 17vw);
  font-weight: 700;
  letter-spacing: -20px;
  margin-left: -15px;
  line-height: 0.8;
}
.m01 h4 {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 5px;
  margin-top: 10px;
  overflow: hidden;
}
.m01 h4 span {
  display: block;
  transform: translateY(150%);
}

/* 메인 section2 */
.m02 {
  background: #282828;
  color: #fff;
  width: 94%;
  border-radius: 30px;
  margin: 0 auto;
}
.m02 .left {
  width: 40%;
}
.m02 .right {
  width: 60%;
  padding-left: 5%;
}
.m02 .bottom {
  padding-top: 80px;
}

.m02 .top h2 {
  font-size: min(110px, 8vw);
  font-weight: 500;
}

.m02 .container h3 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 1.8;
}
.m02 p {
  font-size: 18px;
  line-height: 1.8;
}
.m02 .dot:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #fff;
}

.m02 .left > ul > li {
  font-size: 20px;
  margin-bottom: 20px;
}
.m02 .left > ul > li:last-child {
  margin-bottom: 0;
}
.m02 .left ul ul li {
  font-size: 17px;
  padding-left: 15px;
  margin: 10px 0;
  position: relative;
}
.m02 .left ul li span {
  opacity: 0.75;
}
.m02 .right > ul > li {
  margin-bottom: 15px;
  line-height: 1.4;
}
.m02 .right span {
  width: 140px;
  font-size: 20px;
}
.m02 .right ul ul {
  width: calc(100% - 140px);
  font-size: 17px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/*메인 section3*/
.m03 .container .box {
  width: 100%;
  display: none;
}
.m03 .container .box.on {
  display: flex;
  flex-flow: row wrap;
}
.m03 .container .box > ul {
  width: 50%;
}
.m03 .left li {
  font-size: 24px;
  font-weight: 600;
  padding: 40px 20px;
  border-bottom: 1px solid #282828;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  opacity: 0.35;
  transition: all 0.2s;
}

.m03 .left li:hover {
  opacity: 1;
}

.m03 .left li.on {
  opacity: 1;
}

.m03 .left li figure {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  display: flex;
  flex-flow: row wrap;
}
.m03 .left li figure::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(40%, -50%);
  right: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  border: 1px solid #282828;
  transition: all 0.2s;
}

.m03 .left li.on figure::before {
  width: 25px;
  height: 25px;
}
.m03 .right {
  padding-left: min(80px, 5%);
  overflow: hidden;
}

.m03 .right li {
  display: none;
}

.m03 .right li.on {
  display: block;
}

.m03 .right .top {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.m03 .right h2 {
  font-size: 28px;
  font-weight: 700;
}
.m03 .right .img {
  position: relative;
  width: 100%;
  /* padding-bottom: 55%; */
  height: min(420px, 28vw);
  background-image: url(../img/m03_img1.jpg);
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  animation-duration: 12s;
  animation-timing-function: linear;
}

.m03 .right li:nth-of-type(2) .img {
  background-image: url(../img/m03_img2.jpg);
  animation-duration: 8s;
}
.m03 .right li:nth-of-type(3) .img {
  background-image: url(../img/m03_img3.jpg);
  animation-duration: 8s;
}
.m03 .right li:nth-of-type(4) .img {
  background-image: url(../img/m03_img4.jpg);
  animation-duration: 20s;
}
.m03 .right li:nth-of-type(5) .img {
  background-image: url(../img/m03_img6.jpg);
}
.m03 .right li:nth-of-type(6) .img {
  background-image: url(../img/m03_img7.jpg);
  animation-duration: 8s;
}

.m03 .right .img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 10px solid #282828;
  border-radius: 10px;
}

.m03 .right .on .img:hover {
  animation-play-state: paused;
}
@keyframes img-scrollup {
  0% {
    background-position-y: top;
  }
  100% {
    background-position-y: bottom;
  }
}
.m03 .tab {
  justify-content: flex-end;
  margin-bottom: 45px;
}
.m03 .tab li {
  margin-left: 30px;
}
.m03 .tab input[type="radio"] {
  vertical-align: middle;
  appearance: none;
  border-radius: 0;
  width: 17px;
  height: 17px;
  border: 1px solid #282828;
  margin: 0 5px 0 0;
  position: relative;
  cursor: pointer;
}
.m03 .tab input[type="radio"]:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #282828;
  transition: all 0.3s;
}
.m03 .tab input[type="radio"]:checked::before {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}
.m03 .tab label {
  cursor: pointer;
}

.m03 .btn a {
  display: block;
  padding: 10px 30px;
  border: 1px solid #282828;
  background: #282828;
  color: #fff;
  transition: all 0.3s;
}
.m03 .btn a:last-child {
  background: none;
  color: #282828;
  margin-left: 20px;
}
.m03 .btn a:hover {
  border: 1px solid #f0a500;
  background-color: #f0a500;
  color: #fff;
}

.m03 .right .txt {
  padding-top: 15px;
  width: 100%;
}
.m03 .right .txt h4 {
  font-size: 17px;
  line-height: 1.6;
}
.m03 .right .txt p {
  font-size: 18px;
  line-height: 1.4;
  margin-top: 10px;
}
.m03 .right .txt h4 span {
  display: inline-block;
  width: min(25%, 150px);
  font-weight: 500;
}

.m04 {
  background: #141414;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.m04 .text {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.m04 .text a {
  font-size: 68px;
  color: #fff;
  font-weight: 700;
  transition: all 0.5s;
  position: relative;
}
.m04 .text a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.5s;
  background: #f0a500;
}
.m04 .text a:hover {
  color: #f0a500;
}
.m04 .text a:hover::before {
  width: 100%;
}

.m04 .container {
  align-items: flex-start;
  justify-content: center;
  width: 130%;
  transform: rotate(-17deg) translateY(-15%);
}

.m04 .imgs {
  width: 18%;
  margin-right: min(10px, 1%);
}
.m04 .imgs img {
  margin-bottom: 20px;
  width: 100%;
  max-width: 420px;
  object-fit: cover;
  position: relative;
}

#contact {
  background: #141414;
  padding: 80px 0;
  color: #f1f1f1;
}
#contact h3 {
  width: 20%;
}
#contact ul {
  width: 40%;
}
#contact ul li {
  font-size: 18px;
  margin-bottom: 10px;
}
#contact ul li span {
  width: 80px;
}
#contact ul li a {
  color: #f1f1f1;
  transition: all 0.2s;
}
#contact ul:last-child {
  justify-content: flex-end;
}
#contact ul:last-child li {
  margin-left: 20px;
}
#contact ul:last-child li a:hover {
  color: #f0a500;
}

@media (max-width: 1700px) {
  .m02 .right {
    padding-left: 3%;
  }
  .m03 .right {
    padding-left: 3%;
  }
}

@media (max-width: 1400px) {
  nav li:not(:last-child) {
    margin-right: 50px;
  }

  section {
    padding: 70px 0;
  }
  .sub-tit {
    font-size: 27px;
    margin-bottom: 35px;
  }

  .m01 p {
    margin-bottom: 30px;
  }
  .m01 h2 {
    font-size: min(280px, 15vw);
    letter-spacing: -10px;
    margin-left: -15px;
  }
  .m01 h4 {
    font-size: 22px;
  }

  .m02 .bottom {
    padding-top: 70px;
  }
  .m02 .container h3 {
    margin-bottom: 15px;
  }
  .m02 .left > ul > li {
    margin-bottom: 15px;
  }

  .m03 .tab {
    margin-bottom: 40px;
  }
  .m03 .left li {
    padding: 36px 20px;
  }
  .m04 .text a {
    font-size: 64px;
  }

  #contact {
    padding: 70px 0;
  }
  #contact ul li {
    font-size: 17px;
  }
  #contact ul:last-child li {
    margin-left: 15px;
  }
}

@media (max-width: 1280px) {
  nav li a {
    font-size: 17px;
  }

  section {
    padding: 60px 0;
  }
  .sub-tit {
    font-size: 26px;
    margin-bottom: 30px;
  }

  .m01 h2 {
    letter-spacing: -5px;
    margin-left: -10px;
  }
  .m01 h4 {
    font-size: 20px;
    margin-top: 5px;
  }

  .m02 .bottom {
    padding-top: 60px;
  }
  .m02 .container h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .m02 p {
    font-size: 17px;
  }
  .m02 .left > ul > li {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .m02 .left ul ul li {
    font-size: 16px;
    padding-left: 15px;
    margin: 8px 0;
  }
  .m02 .right > ul > li {
    margin-bottom: 10px;
  }
  .m02 .right span {
    width: 130px;
    font-size: 18px;
  }
  .m02 .right ul ul {
    width: calc(100% - 130px);
    font-size: 16px;
  }

  .m03 .tab {
    margin-bottom: 30px;
  }
  .m03 .tab li {
    margin-left: 20px;
  }
  .m03 .left li {
    font-size: 22px;
    padding: 33px 20px;
  }
  .m03 .right h2 {
    font-size: 26px;
  }
  .m03 .btn a {
    padding: 8px 25px;
  }
  .m03 .right .txt {
    padding-top: 15px;
    width: 100%;
  }
  .m03 .right .txt h4 {
    font-size: 16px;
  }
  .m03 .right .txt p {
    font-size: 17px;
    margin-top: 5px;
  }

  .m04 {
    height: 65vw;
  }
  .m04 .text a {
    font-size: min(60px, 8vw);
  }

  #contact {
    padding: 60px 0;
  }
  #contact ul li {
    font-size: 16px;
  }
}

@media (max-width: 1080px) {
  nav li:not(:last-child) {
    margin-right: 40px;
  }
  nav li a {
    font-size: 16px;
  }

  section {
    padding: 50px 0;
  }
  .sub-tit {
    font-size: 24px;
    margin-bottom: 25px;
  }

  .m01 p {
    font-size: 13px;
    margin-bottom: 20px;
  }
  .m01 h2 {
    font-size: max(56px, 15vw);
    margin-left: 0;
  }
  .m01 h4 {
    font-size: 18px;
    margin-top: 5px;
  }

  .m02 .container h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .m02 p {
    font-size: 16px;
  }
  .m02 .bottom {
    padding-top: 50px;
  }
  .m02 .bottom > div {
    width: 100%;
  }
  .m02 .left > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 10px;
  }
  .m02 .left > ul > li:nth-of-type(1) {
    grid-area: 1 / 1 / 3 / 2;
  }
  .m02 .left > ul > li:nth-of-type(2) {
    grid-area: 1 / 2 / 2 / 3;
  }
  .m02 .left > ul > li:nth-of-type(3) {
    grid-area: 2 / 2 / 3 / 3;
  }

  .m02 .left > ul > li {
    margin-bottom: 0;
  }
  .m02 .left ul ul li {
    font-size: 15px;
    padding-left: 10px;
    margin: 5px 0;
  }
  .m02 .bottom .right {
    padding: 4% 0 0 0;
  }
  .m02 .right span {
    width: 120px;
    font-size: 17px;
  }
  .m02 .right ul ul {
    width: calc(100% - 120px);
    font-size: 15px;
  }

  .m03 .tab {
    margin-bottom: 25px;
  }
  .m03 .tab li {
    margin-left: 15px;
  }
  .m03 .tab label {
    font-size: 15px;
  }
  .m03 .container .box .left {
    width: 35%;
  }
  .m03 .left li {
    font-size: 20px;
    padding: 28px 10px;
  }
  .m03 .left li figure {
    right: 10px;
  }
  .m03 .container .box .right {
    width: 65%;
  }
  .m03 .right h2 {
    font-size: 24px;
  }

  .m03 .right .txt h4 {
    font-size: 15px;
  }
  .m03 .right .txt p {
    font-size: 16px;
  }
  .m03 .right .img {
    height: min(270px, 35vw);
  }
  .m03 .btn a {
    padding: 8px 20px;
    font-size: 15px;
  }
  .m03 .btn a:last-child {
    margin-left: 15px;
  }

  #contact {
    padding: 50px 0;
  }
  #contact h3 {
    width: 100%;
  }
  #contact ul {
    width: 50%;
  }
  #contact ul li {
    font-size: 15px;
    margin-bottom: 5px;
  }
  #contact ul li span {
    width: 70px;
  }
  #contact ul:last-child li {
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  header .inner {
    height: 60px;
  }
  header.scroll-down {
    top: -61px;
  }
  header .logo {
    font-size: 20px;
  }
  header nav {
    display: none;
  }
  header .mo_nav {
    display: block;
  }

  section {
    padding: 40px 0;
  }
  .sub-tit {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .m01 p {
    font-size: 12px;
  }
  .m01 h4 {
    font-size: 16px;
    margin-top: 3px;
  }

  .m02 .container h3 {
    font-size: 18px;
    line-height: 1.6;
  }
  .m02 p {
    font-size: 15px;
  }
  .m02 .top > div {
    width: 100%;
  }
  .m02 .top p br {
    display: none;
  }
  .m02 .top .right {
    padding: 4% 0 0 0;
  }
  .m02 .bottom {
    padding-top: 40px;
  }
  .m02 .left > ul {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0;
  }
  .m02 .left > ul > li:nth-of-type(1) {
    grid-area: 1;
  }
  .m02 .left > ul > li:nth-of-type(2) {
    grid-area: 2;
  }
  .m02 .left > ul > li:nth-of-type(3) {
    grid-area: 3;
  }
  .m02 .left ul ul li {
    font-size: 14px;
  }
  .m02 .right span {
    width: 115px;
    font-size: 16px;
  }
  .m02 .right ul ul {
    width: calc(100% - 115px);
    font-size: 14px;
  }

  .m03 .tab {
    margin-bottom: 20px;
  }
  .m03 .container .box .left {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }
  .m03 .left li {
    font-size: 16px;
    padding: 15px 0;
    width: calc(100% / 3);
    justify-content: center;
  }
  .m03 .left li figure {
    display: none;
  }
  .m03 .container .box .right {
    width: 100%;
    padding: 4% 0 0 0;
  }
  .m03 .right h2 {
    font-size: 20px;
    width: 100%;
    margin-bottom: 10px;
  }

  .m03 .right .txt h4 {
    font-size: 14px;
  }
  .m03 .right .txt p {
    font-size: 15px;
  }
  .m03 .right .txt p br {
    display: none;
  }
  .m03 .right .img {
    height: min(270px, 50vw);
  }
  .m03 .btn a {
    padding: 5px 15px;
    font-size: 14px;
  }
  .m03 .btn a:last-child {
    margin-left: 10px;
  }

  .m04 .container {
    opacity: 0.7;
  }

  #contact {
    padding: 40px 0;
  }
  #contact ul {
    width: 75%;
  }
  #contact ul:last-child {
    width: 25%;
  }
  #contact ul li {
    font-size: 14px;
  }
  #contact ul li span {
    width: 65px;
  }
  #contact ul:last-child li {
    margin-left: 10px;
  }
}

@media (max-width: 500px) {
  .m03 .left li {
    font-size: 15px;
    padding: 10px 0;
    width: 50%;
    justify-content: center;
  }
  .m03 .right h2 {
    text-align: center;
  }
  .m03 .btn {
    margin: 0 auto;
  }
  .m03 .right .txt h4 span {
    width: 95px;
  }
}
